@model Bindingdropdown.Models.StudentModel
@{
    ViewData["Title"] = "Index";
}

<h1>Drop Downbinding From Database</h1>

<label class="form-label">Select Student Name</label>

<select asp-for="Id" class="form-control" asp-items="@(new SelectList(Model.StudentList,"Value","Text"))">

</select>

